:root {
  edgeSize: 1vw;
}

html{

	background: black;
	color: white;
	height: 100%;
	width: 100%;

}
body{
	height: -webkit-fill-available;
	width: -webkit-fill-available;
}

.center{
	display: grid;
	grid-gap: 6vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: center;
	width: min-content; 
	position: absolute;
	margin-left: 60vw;
	margin-top: 30vh;
	margin-bottom:40vh;

}

#input{
	width: 10vw;
	height: 4vh;
    border-radius: 10px;
    font-family: 'Abel';
    font-size: x-large;
    outline: none;
    transition: all .5s;
    overflow: hidden;
    border: 3px solid white;
    background:linear-gradient(45deg, lightgrey, #a3a3a3);
    text-align: center;

	padding-top: 2vh;

}
#input:hover, #input:focus{
	width: 20vw;
	height: 20vh;
	font-size: x-large;
}



html, body{
   padding:0px;
   margin:0px;
   background:#191A1D;
   font-family: 'Abel';
   width:100vw;
}
body * {
   margin:0;
   padding:0;
}

/* HTML Nav Styles */
/* HTML Nav Styles */
/* HTML Nav Styles */
nav menuitem {
   position:relative;
   display:block;
   opacity:0;
   cursor:pointer;
}

nav menuitem > menu {
   position: absolute;
   pointer-events:none;
}
nav > menu { display:flex; }

nav > menu > menuitem { pointer-events: all; }
menu menuitem a { white-space:nowrap; display:block; }
   
menuitem:hover > menu {
   pointer-events:initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
   opacity:1;
}
nav > menu > menuitem menuitem menu {
   transform:translateX(100%);
   top:0; right:0;
}
/* User Styles Below Not Required */
/* User Styles Below Not Required */
/* User Styles Below Not Required */


nav a {
   background:#75F;
   color:#FFF;
   min-width: var(--edgeSize);
   width: var(--edgeSize);
   height: 4vh;
   min-height: 4vh;
   transition: background 0.5s, color 0.5s, transform 0.5s;
   padding:10px 3vh;
   box-sizing:border-box;
   border-radius:3px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
   position:relative;
}

nav a:hover:before {
   content: '';
   top:0;left:0;
   position:absolute;
   background:rgba(0, 0, 0, 0.2);
   width:100%;
   height:100%;
}

nav > menu > menuitem > a + menu:after{
   content: '';
   position:absolute;
   border:10px solid transparent;
   border-top: 10px solid white;
   left:12px;
   top: -40px;  
}
nav > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateY(150%);
   opacity:0;
}
nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem{
   transform:translateY(0%);
   opacity: 1;
}

menuitem > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateX(195px) translateY(0%);
   opacity: 0;
} 
menuitem > menu > menuitem:hover > menu > menuitem,  
menuitem > menu > menuitem.hover > menu > menuitem{  

   transform:translateX(0) translateY(0%);
   opacity: 1;
}

menuitem{
	margin-left: .2vw;
	opacity: 0;
	transition: .3s;
}
.main{
	opacity: 1;
	visibility: visible;
}
.main:hover ~ menuitem, nav.menuitem:hover ~ menuitem ,menuitem:hover ~ menuitem, menuitem:hover{
	opacity: 1;
	visibility: visible;
}

#acts{
	font-size: x-large;
	font-family: 'Abel';
	background: #75F;
	color: white;
	border: 5px solid #75F;
	transition: all 0.5s;
	outline: none;
}
#output{
	display: grid;
	grid-gap: 6vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: center;
	width: 6vw; 
	position: absolute;
	font-size: xx-large;
	margin-left: 30vw;
	margin-top: 30vh;
}
#description{
	width: 30vw;
}